# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Project Data
data/test_*
data/sources.json
data/outline.json
data/draft.md
data/reviewed_draft.md

# IDEs
.vscode/
.idea/

# Graphify
graphify-out/
